@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(40, 40, 40);
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-menu {
	z-index: 10;
	position: absolute;
	width: 600px;
	height: 400px;
	background: rgb(60, 60, 60);

	// Edge styling:
	border-radius: 5px;
	border-top: 3px solid rgb(90, 90, 90);
	border-left: 3px solid rgb(70, 70, 70);
	border-right: 3px solid rgb(70, 70, 70);
	border-bottom: 3px solid rgb(50, 50, 50);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

	font-family: Nunito;

	::placeholder {
		color: rgba(180, 180, 180, 0.5);
	}

	button {
		font-family: Raleway;
		font-weight: 700;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.start-menu {
	// To be shown initially
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
}

.add-player-container {
	display: flex;

	input {
		text-align: center;
		color: rgb(180, 180, 180);
		font-family: inherit;
	}
}

.player-info-container {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	.player-name-input {
		width: 95%;
		font-size: 1.2rem;
		appearance: none;
		border: none;
		border-radius: 5px;
		background: rgb(40, 40, 40);
	}

	.color-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			font-size: 1.2rem;
			color: rgba(180, 180, 180, 0.5);
			font-style: italic;
		}

		.jscolor {
			margin-top: 10px;
			outline: none;

			border-width: 3px;
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
	}

	.add-player-button {
		height: 30px;
		width: 100px;
		color: rgb(60, 60, 60);
		background: rgb(200, 200, 200);
		border: none;
		border-radius: 20px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease 0s;
		outline: none;

		&:hover {
			box-shadow: 0px 8px 15px rgba(0,0,0,0.4);
		}
	}
}

.controls-container {
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 50px 50px 1fr 50px 50px;
	grid-template-areas:
		". fire ."
		". forward ."
		"left tank right"
		". tank ."
		". backward .";

	.key-selector-input {
		width: 100px;
		height: 40px;
		cursor: pointer;
		border: none;
		appearance: none;
		background: none;
		font-size: 1rem;
		font-weight: 700;
		border-radius: 5px;

		outline: none;

		&:focus {
			box-shadow: 0 0 5px rgba(81, 203, 238, 0.7);
			border: 1px solid rgba(81, 203, 238, 0.7);
			background: rgb(75, 75, 75);
		}
	}

	.tank-diagram {
		grid-area: tank;
		transform: rotate(180deg);
		height: 150px;
	}

	.fire-key-input {
		grid-area: fire;
	}

	.forward-key-input {
		grid-area: forward;
	}

	.left-key-input {
		grid-area: left;
	}

	.right-key-input {
		grid-area: right;
	}

	.backward-key-input {
		grid-area: backward;
	}
}

.start-game-button {
	align-self: center;
	font-size: 1.2rem;
	padding: 10px;
	margin-top: 20px;

	letter-spacing: 2.5px;
	color: rgb(60, 60, 60);
	background: rgb(200, 200, 200);
	border: none;
	border-radius: 20px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	outline: none;

	&:hover {
		background: #2ee59d;
		box-shadow: 0px 15px 15px rgba(46, 229, 157, 0.25);
		transform: translateY(-4px);
	}
}

.next-round-menu {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.status-bar {
	margin-top: 10px;
	display: flex;
	justify-content: center;

	.player-status-container {
		font-family: Raleway;
		color: rgba(255, 255, 255, 0.8);
		margin: 5px;
		height: 150px;
		width: 175px;
		border-radius: 5px;
		box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

		display: grid;
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1.7em 1fr 1fr;
		grid-template-areas:
			"name    name"
			"wins    ammo"
			"kills deaths";
		
		h4 {
			font-weight: 500;
		}

		h3 {
			font-size: 1.7rem;
		}

		.player-name {
			color: white;
			font-family: Nunito;
			font-size: 1.3em;
			grid-area: name;
		}

		.player-ammo {
			grid-area: ammo;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		.player-wins-container {
			grid-area: wins;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.player-kills-container {
			grid-area: kills;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.player-deaths-container {
			grid-area: deaths;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

